@model Invoicer.Areas.Admin.Features.BillableUnit.BillableUnitViewModel

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="@Model.FullName"></label>
        <input asp-for="@Model.FullName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.ShortName"></label>
        <input asp-for="@Model.ShortName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.WholeValuesOnly">
        </label>
        <input asp-for="@Model.WholeValuesOnly">
    </div>

    <input type='submit' class='btn btn-primary' value="Create">
</form>